@font-face {
    font-family: IranSans;
    src: url(Iranian-Sans.ttf);
}

* {
    box-sizing: border-box;
}

body {
    direction: rtl;
    background-color: #f2f1f8;
    color: #121416;
    font-family: IranSans;
}

body::-webkit-scrollbar {
    height: 0;
    width: 5px;
}

body::-webkit-scrollbar-thumb {
    background-color: #ED1D24;
    outline: 0 solid #e2e2e2;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .2);
}

.navlink:hover {
    color: #ED1D24;
    border: #ED1D24 2px solid;
}

.flickity-button-icon {
    color: #ED1D24;
}

.carousel-cell {
    position: relative;
    width: 50%;
    height: 350px;
    margin-right: 10px;
    border-radius: 5px;
    border: solid 1px transparent;
}

.carousel-cell:hover {
    border-color: #ED1D24;
}

.carousel-cell:before {
    display: block;
    text-align: center;
    line-height: 200px;
    font-size: 80px;
    color: white;
}