@font-face {
    font-family: IranSans;
    src: url(Iranian-Sans.ttf);
}

* {
    box-sizing: border-box;
}

body {
    direction: rtl;
    background-color: #f2f1f8;
    color: #121416;
    font-family: IranSans;
}

.navlink:hover {
    color: #ED1D24;
    border: #ED1D24 2px solid;
}

.carousel {
    background: #EEE;
}

.carousel-cell {
    width: 66%;
    height: 350px;
    margin-right: 10px;
    background: #8C8;
    border-radius: 5px;
    border: solid 1px transparent;
}

.carousel-cell:hover {
    border-color: #ED1D24;
}

.carousel-cell:before {
    display: block;
    text-align: center;
    line-height: 200px;
    font-size: 80px;
    color: white;
}